<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Maega_PGPTool.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Maega_PGPTool.My.MySettings>
            <setting name="Pub1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Pri1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Pub2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Pri2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Pub3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Pri3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Key1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Key2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Key3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Key1Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Key2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Key3Enabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Maega_PGPTool.My.MySettings>
    </userSettings>
</configuration>